.navbar{
background-color: orange;

  position: relative;
 /* margin-left: 10px 3rem; */
/* margin: 10px 125px; */
  border-top-left-radius:15px ;
  border-top-right-radius:15px ;
  /* border-bottom-right-radius:10px ; */

z-index: 1000px;
}

.navlinks {
    color: rgb(255, 255, 255) ;
    padding: 0px ;
  
    text-decoration: none;

 
 
}


.home,
 
.visa,
.hot,
.travel,
.contact{


    position: relative;
    padding: auto;
padding: 5px 50px;
margin: 9px;
left: 8rem;
text-transform: uppercase;
text-decoration: none;
color: rgb(255, 255, 255);
transition: all 0.5s ease-in-out;

  
}







.hov-data:hover{
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
color: grey;
}



/*===================================== responsive navbar for sliping left side ====================================*/


@media only screen and (max-width: 1200px) and (min-width: 992px)  {





/* .navbar{

 width: 80%;
} */






  .home,
 
  .visa,
  .hot,
  .travel,
  .contact{
  
  padding: 5px 20px;


  }  

}



/* @media only screen and (max-width: 700px) and (min-width: 500px)  {




  .navbar{
top: -0px;
right: -50px;
   }
   
   
   




}



 */






@media only screen and (max-width: 440px) and (min-width: 200px)  {





  .home,
 
  .visa,
  .hot,
  .travel,
  .contact{
  

 margin-left: -6rem;


  }  

   
   




}