
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Heebo:wght@700&family=Hubballi&family=Playfair+Display&display=swap');



* {

    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Hubballi', cursive;
    font-family: 'Playfair Display', serif;
}






















.message-box{
min-height: 8rem;
max-height: 8rem;
background-color:LightGray;
}
.message-box:focus{
   border: none;
   outline: none;
   box-shadow: none;
   background-color: rgb(190, 190, 190);
    }


/* ===========  this is for botstrap form outline after click  ==============*/

    .form-travel:focus{
        border: none;
        outline: none;
        box-shadow: none;
        background-color: rgb(219, 219, 219);

    }


    .form-travel{
        border: none;
        outline: none;
        background-color:LightGray;

    }








.check-box{
    accent-color: green;
    outline: none;
    box-shadow: none;
}



.check-box:focus{
    accent-color: green;
    outline: none;
    box-shadow: none;
}








/* this is responsive layouts */




    @media (max-width:768px){

.form{
    margin-top: 20%;
}

    }
