


@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Heebo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Heebo:wght@700&family=Hubballi&display=swap');






* {

    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Hubballi', cursive;
}

























/* ========================== responsive layouts of visa page====================== */
@media (max-width:700px){



  .visa-data{
  position: relative;
  top: 5rem;
}





}

@media (max-width:541px){



  .visa-data{
  position: relative;
  top: 8rem;
}





}

@media (max-width:427px){



  .visa-data{
  position: relative;
  top: 12rem;
}





}